@font-face {
    font-family: UIFont;
    src: url(../webfonts/Ubuntu.ttf);
}
:root {
    --toolbarHeight: 2.5rem;
    --spacing: 0.5rem;
    --radius: 0.25rem;
}
html {
    scroll-behavior: smooth;
}
body {
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    font-family: UIFont;
}
* {
    box-sizing: border-box;
}
.xterm {
    width: 100%;
    height: 100%;
}
.xterm-viewport {
    overflow: hidden !important;
    background-color: transparent !important;
}
.xterm-scrollable-element {
    background-color: transparent !important;
}

.container {
    position: fixed;
    left: var(--spacing);
    top: var(--spacing);
    right: var(--spacing);
    bottom: var(--spacing);
    border-radius: var(--spacing);
    background-color: rgba( 0, 0, 0, 0.75 ) !important;
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    grid-gap: var(--spacing);
    overflow: hidden;
    transition: opacity 0.5s, fitler 0.5s;

    border: 1px solid rgba( 125, 125, 125, 0.25 );
}
.container {
    /* background-image: repeating-linear-gradient( 45deg, #1c1c1c2f, #1f1f1f2f 5px ); */
}
.container.ghost {
    opacity: 0.35;
    filter: grayscale(1);
}
.tab-groups {
    display: flex;
    height: 2rem;
    align-items: center;
    grid-gap: 0.5rem;
    flex: 1;
}
.tab-group {
    display: flex;
    grid-gap: 0.5rem;
    overflow: hidden;
    flex: 1 1 0;
    min-width: 0;
}
.tabs {
    display: flex;
    grid-gap: 0.5rem;
    overflow: hidden;
}
@keyframes tabIn {
    from { transform: scale( 0 ); }
    to { transform: scale( 1 ); }
}
@keyframes tabOut {
    from {
        transform: scale( 1 );
        min-width: 5rem;
    }
    to { transform: scale( 0 ); }
}
.tab {
    height: 2rem;
    border-radius: 2px;
    background-color: rgba( 50, 50, 50, 0.25 );
    max-width: 10rem;
    min-width: 5rem;
    color: #999999;
    display: flex;
    padding: 0px 1rem;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
    flex-shrink: 1;

    transition: all 0.25s;
    border: 1px solid rgba( 75, 75, 75, 0.25 );
    position: relative;
    overflow: hidden;
    box-sizing: content-box;

    animation: tabIn 0.25s 1;
    transform-origin: bottom left;
}
.tab.out {
    animation: tabOut 0.25s 1;
}
.tab > * {
    z-index: 10;
}
.tab-title {
    flex: 1;
    display: flex;
    overflow: hidden;
    text-wrap: nowrap;
    justify-content: right;
    position: relative;
    font-size: 0.85rem;

    --fade-size: clamp( 0px, ( 100% - 9.9rem ) * 1000, 2rem );
    mask-image: linear-gradient( to right, transparent, black var( --fade-size ) );

    transition: 0.25s;
}
.tab:hover {
    max-width: 20rem;
    color: #cccccc;
    background-color: rgba( 75, 75, 75, 0.25 );
}
.tab:hover > .tab-title {
    --fade-size: 0px;
}
.tab-title > span {
    display: flex;
    flex: 1;
    outline: none;
}
.tab-close {
    display: flex;
    font-size: 0px;
    transition: 0.25s;
    color: #999999;
}
.tab-close:hover {
    color: #ffffff;
}
.tab:hover > .tab-close {
    margin-left: 0.65rem;
    font-size: 0.65rem;
}
.tab.active {
    background-color: rgba( 125, 125, 125, 0.25 );
    color: #eeeeee;
}
@keyframes tabBell {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.tab::after {
    content: '';
    display: flex;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba( 250, 150, 0, 0.25 );
    z-index: 5;
    opacity: 0;
    transition: 0.25s;
}
.tab.bell::after {
    animation: tabBell 1s infinite;
}
.tab-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    background-color: rgba( 125, 125, 125, 0.25 );
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    /* TODO */
    transition: 0.25s;
}
.tab-progress.active {
    opacity: 1;
}
@keyframes progressMarquee {
    from { background-position: 0 0; }
    to { background-position: 40px 0; }
}
.tab-progress.marquee {
    width: 100% !important;
    background-color: transparent;
    background-image: linear-gradient(
      45deg, 
      rgba( 125, 125, 125, 0.25 ) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba( 125, 125, 125, 0.25 ) 50%, 
      rgba( 125, 125, 125, 0.25 ) 75%, 
      transparent 75%, 
      transparent
    );
    background-size: 40px 40px;
    animation: progressMarquee 2s linear infinite;
}
@keyframes progressPaused {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}
.tab-progress.paused {
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient( 90deg, transparent, rgba( 125, 125, 125, 0.25 ), transparent );
    background-size: 200%;
    animation: progressPaused 2s ease-in-out infinite;
}
.wrapper-groups {
    display: flex;
    flex: 1;
    overflow: hidden;
}
.wrapper-group {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid rgba( 75, 75, 75, 0.25 );
    flex: 1 1 0;
    min-width: 0;
    transition: 0.25s background-color;
}
.wrapper-group.active {
    background-color: rgba( 25, 25, 25, 0.15 );
    border: 1px solid rgba( 125, 125, 125, 0.25 );
    box-shadow: inset 0px 0px 15px rgba( 125, 125, 125, 0.15 );
}
.wrapper-separator {
    display: flex;
    width: 0.5rem;
    cursor: ew-resize;
    position: relative;
    justify-content: center;
    align-items: center;
}
.wrapper-separator::after {
    content: '';
    position: absolute;
    display: flex;
    width: 2px;
    height: 50%;
    background-color: rgba( 75, 75, 75, 0.25 );
}
.wrapper {
    display: none;
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    position: relative;
    box-sizing: initial;
}
.wrapper.active {
    display: flex;
}

.controls {
    position: absolute;
    right: var(--spacing);
    top: var(--spacing);
    display: flex;
    grid-gap: var(--spacing);
}
.button {
    display: flex;
    transition: 0.15s;
    height: 2.25rem;
    width: 2.25rem;
    justify-content: center;
    align-items: center;
    border-radius: var(--spacing);
}
.button:hover {
    background-color: rgba( 25, 25, 25, 0.5 );
    cursor: pointer;
}

.modal-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba( 0, 0, 0, 0.75 );
    display: flex;
    justify-content: end;
    align-items: start;
    z-index: 100;
    pointer-events: none;
    transition: 0.15s;
    opacity: 0;
    padding: var(--spacing);
}
.modal-wrapper:has( .modal-body.active ) {
    opacity: 1;
    pointer-events: initial;
}
.modal {
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    height: 100%;
    grid-gap: var(--spacing);
    margin-right: -100%;
    transition: 0.15s;
}
.modal-wrapper:has( .modal-body.active ) > .modal {
    margin-right: 0px;
}
.modal-header {
    display: flex;
    background-color: rgba( 125, 125, 125, 0.25 );
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border-radius: var(--radius);
    grid-gap: var(--spacing);
    padding: 0.5rem;
}
.modal-header > span {
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 600;
    font-size: 0.85rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.modal-button {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
}
.modal-button.active {
    display: flex;
}
.modal-close {
    display: flex;
}
.modal-content {
	display: flex;
	background-color: rgba( 75, 75, 75, 0.25 );
	flex: 1;
	justify-content: center;
	position: relative;
	overflow: auto;
    border-radius: var(--radius);
    align-items: start;
}
.modal-body {
	display: none;
	min-width: 100%;
    min-height: 100%;
	padding: var(--spacing);
	box-sizing: border-box;
	overflow: auto;
	flex-direction: column;
	grid-gap: var(--spacing);
}
.modal-body.active {
    display: flex;
}
.kv {
    display: flex;
    position: relative;
    background-color: rgba( 50, 50, 50, 0.25 );
    border-radius: var(--radius);
    height: 2.5rem;
    overflow: hidden;
}
.kv > .k {
    display: flex;
    flex: 1;
}
.kv > .k > i {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba( 75, 75, 75, 0.25 );
    justify-content: center;
    align-items: center;
}
.kv > .k > span {
    margin-left: 1rem;
}
.kv > .k > span {
    display: flex;
    align-items: center;
}
.kv > .v {
    display: flex;
    align-items: center;
    height: 100%;
}
span.separator {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.85rem;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    opacity: 0.5;
}

.kv > .v > input {
    display: flex;
    min-width: 30%;
    outline: none;
    height: 100%;
    background-color: transparent;
    font-family: UIFont;
    border: none;
    text-align: right;
    color: #999999;
    transition: 0.15s;
    margin: 0px 1rem;
}
.kv > .v > input:focus {
    color: #ffffff;
}

.kv > .v > select {
    display: flex;
    min-width: 30%;
    outline: none;
    height: 100%;
    background-color: transparent;
    font-family: UIFont;
    border: none;
    text-align: right;
    color: #999999;
    transition: 0.15s;
    margin: 0px 0.5rem;
}
.kv > .v > select:focus  {
    color: #ffffff;
}
.kv > .v option {
    color: #ffffff;
    background-color: #1f1f1f;
}

.kv > .v > button {
    display: flex;
    padding: 0px 1rem;
    background-color: rgba( 0, 0, 0, 0.15 );
    height: 100%;
    transition: 0.15s;
    font-family: UIFont;
    color: #999999;
    cursor: pointer;
    border: none;
    align-items: center;
    outline: none
}
.kv > .v > button:hover {
    background-color: rgba( 25, 25, 25, 0.15 );
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #1f1f1f;
}
::-webkit-scrollbar-thumb {
    background-color: #2f2f2f2f;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333333;
}

.keys-wrapper {
    display: flex;
    grid-gap: var(--spacing);
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
.key {
    display: flex;
    padding: 0.5rem 0.75rem;
    border: 2px solid rgba( 75, 75, 75, 0.5 );
    text-transform: uppercase;
    border-radius: var(--spacing);
}

.boundary {
    position: absolute;
    z-index: 1000;
}
.boundary.left, .boundary.right {
    width: 0.15rem;
    top: 0px;
    bottom: 0px;
    cursor: ew-resize;
}
.boundary.left {
    left: 0px;
}
.boundary.right {
    right: 0px;
}
.boundary.top, .boundary.bottom {
    height: 0.15rem;
    left: 0px;
    right: 0px;
    cursor: ns-resize;
}
.boundary.top {
    top: 0px;
}
.boundary.bottom {
    bottom: 0px;
}

.boundary::after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: '';
    pointer-events: none;
    opacity: 0;
    transition: 0.25s;
}
.boundary.active::after {
    opacity: 1;
}
.boundary.left::after {
    background-image: -webkit-linear-gradient(left, rgba( 125, 125, 125, 0.25 ), transparent);
    width: 10rem;
}
.boundary.right::after {
    background-image: -webkit-linear-gradient(right, rgba( 125, 125, 125, 0.25 ), transparent);
    width: 10rem;
    left: unset;
}
.boundary.top::after {
    background-image: -webkit-linear-gradient(top, rgba( 125, 125, 125, 0.25 ), transparent);
    height: 10rem;
}
.boundary.bottom::after {
    background-image: -webkit-linear-gradient(bottom, rgba( 125, 125, 125, 0.25 ), transparent);
    height: 10rem;
    top: unset;
}

#btn_preferences > i {
    transition: 0.25s;
}
#btn_preferences:hover > i {
    rotate: 180deg;
}

.w {
    display: flex;
    grid-gap: var(--spacing);
    flex: 1;
}
.w.v {
    flex-direction: column;
}
.v.h {
    flex-direction: row;
}

button {
    display: flex;
    background-color: rgba( 75, 75, 75, 0.25 );
    border-radius: var(--radius);
    outline: none;
    border: none;
    font-family: UIFont;
    color: #999999;
    height: 2.5rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.15s;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: rgba( 125, 125, 125, 0.25 );
    color: #ffffff;
}
.tooltip {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    padding: 0.25rem 0.5rem;
    background-color: rgba( 0, 0, 0, 0.75 );
    color: #ffffff;
    border-radius: var(--radius);
    margin-top: 0.5rem;
    transition: 0.15s opacity;
}
.tooltip.active {
    opacity: 1;
}

.context-menu {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    background-color: rgba( 50, 50, 50, 0.75 );
    color: #ffffff;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    transition: 0.15s;
    transform-origin: top left;
    scale: 0;
    font-size: 0.85rem;
    border: 1px solid rgba( 125, 125, 125, 0.25 );
    min-width: 7.5rem;
}
.context-menu.active {
    opacity: 1;
    scale: 1;
    pointer-events: initial;
}
.context-option {
    position: relative;
    display: flex;
    padding: 0.5rem;
    transition: 0.15s;
    cursor: pointer;
    color: #cccccc;
    border-radius: var(--radius);
}
.context-option:hover > .context-menu.sub {
    opacity: 1;
    scale: 1;
    pointer-events: initial;
}
.context-menu.sub {
    position: absolute;
    margin-left: 0.25rem;
    left: 100%;
    top: 0px;
}
.context-menu.sub::after {
    content: '';
    position: absolute;
    left: -0.3rem;
    top: 0px;
    bottom: 0px;
    width: 0.3rem;
}
.context-option:hover {
    background-color: rgba( 0, 0, 0, 0.15 );
    color: #ffffff;
}

.gutter {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba( 0, 0, 0, 0.5 );
    pointer-events: none;
    opacity: 0;
    transition: 0.15s;
}
.gutter.active {
    opacity: 1;
}
.gutter > span {
    display: flex;
    flex: 1;
    overflow: hidden;
    align-items: center;
    font-size: 80%;
    padding: 0px 0.15rem;
}

textarea {
    display: flex;
    flex-shrink: 0;
}

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba( 0, 0, 0, 0.15 );
}
@keyframes loader {
    from { rotate: 0deg }
    to { rotate: 360deg }
}
.loader > i {
    animation: loader 1s infinite linear;
}
.out {
    pointer-events: none;
    opacity: 0;
}
@keyframes loaderOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
.loader.out {
    animation: loaderOut 0.25s;
}

.btn {
    height: 2rem;
    border-radius: 2px;
    background-color: rgba( 50, 50, 50, 0.25 );
    min-width: 2rem;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
    flex-shrink: 1;

    transition: all 0.25s;
    border: 1px solid rgba( 75, 75, 75, 0.25 );
    position: relative;
    overflow: hidden;
    box-sizing: content-box;

    animation: tabIn 0.25s 1;
    transform-origin: bottom left;
}
.btn:hover {
    max-width: 20rem;
    color: #cccccc;
    background-color: rgba( 75, 75, 75, 0.25 );
}

.toolbar {
    display: flex;
    height: 2rem;
}
.toolbar:has( .inputbar-wrapper.active ) > .tab-groups {
    display: none;
}
.inputbar-wrapper {
    display: none;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: rgba( 50, 50, 50, 0.25 );
    color: #999999;
    padding: 0px 0.5rem;
    align-items: center;
    border: 1px solid rgba( 75, 75, 75, 0.25 );
    box-sizing: border-box;
    flex: 1;
    grid-gap: 0.5rem;
    position: relative;
}
.inputbar-wrapper.active {
    display: flex;
}
.inputbar {
    display: flex;
    flex: 1;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-family: UIFont;
    font-size: 0.85rem;
}
.inputbar-wrapper:has( .inputbar:focus ) > .inputbar-suggestions {

}
.inputbar-suggestions {
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 0.25rem;
    border-radius: 4px;
    display: flex;
}
.report {
    position: absolute;
    z-index: 50;
    right: 0.5rem;
    top: 0.5rem;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    grid-gap: 0.5rem;
    background-color: rgba( 50, 50, 50, 0.25 );
    border: 1px solid rgba( 75, 75, 75, 0.25 );
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: 0.25s;
    color: #999999;
    font-size: 0.85rem;
    min-width: 15rem;
}
.report.active {
    opacity: 1;
}




.inputbar-tokens {
    display: flex;
    grid-gap: 0.5rem;
}
.inputbar-token {
    display: flex;
    background-color: rgba( 125, 125, 125, 0.15 );
    padding: 0px 0.5rem;
    height: 1.25rem;
    align-items: center;
    border-radius: 2px;
    color: #cccccc;
    font-size: 0.8em;
    border: 1px solid rgba( 125, 125, 125, 0.25 );
    white-space: nowrap;
}
.inputbar-token.error {
    border-color: crimson
}

.inputbar-suggestions {
    margin-top: 0.5rem;
    background-color: rgba( 15, 15, 15, 0.85 );
    border: 1px solid rgba( 125, 125, 125, 0.15 );
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.inputbar-suggestion {
    height: 2rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0px 0.5rem;
    font-size: 0.85rem;
}
.inputbar-suggestion.active {
    background: rgba( 125, 125, 125, 0.15 );
    color: white;
}

.broadcast-wrapper {
    position: fixed;
    top: -100%;
    left: -100%;
    display: flex;
}